# pip install -r requirements.txt
# pip show library

# Python Version: 3.12.3
# conda create --name "vm_env" python
# conda activate vm_env


streamlit
python-dotenv
pandas
ydata-profiling
scikit-learn
matplotlib
seaborn
plotly
yellowbrick
kaggle
pylint

# jupyterlab
# streamlit-authenticator
# st-pages
