# pip install -r requirements.txt
# pip show library

# Python Version: 3.12.3

# conda create --name "vm_env" python
# conda activate vm_env
# jupyterlab

pandas
scikit-learn
streamlit
matplotlib
seaborn
plotly
yellowbrick
#pip install st-pages
